.systemMenu #loginSignUp {
	
}

#showcase {
	width: 100%;
	height: 480px;
	overflow: hidden;
}

.menu {
	display: block;
	padding: 16px 0;
	text-shadow: 0 1px 0 #FFF;
}

.menu li {
	float: left;
	display: block;
	padding-right: 16px;
}


#serviceList {
	padding-top: 16px;
	padding-bottom: 16px;
	border-top: #CCC solid thin;
	border-bottom: #CCC solid thin;
	margin-top: 16px;
	margin-bottom: 16px;
}

#serviceList h3 {
	display: block;
}

#serviceList h3 button {
	float: right;
}

#serviceList ul {
	float: left;
	display: block;
	width: 20%;
	padding: 16px 0 16px;
	box-sizing: border-box;
	border-spacing: 0;
}

#serviceList ul h2 {
	margin: 0 0 16px;
}

#serviceList ul li {
	padding-bottom: 8px;
	font-size: small;
}